In [9]:
import pandas as pd
import numpy as np

In [12]:
df1=pd.read_excel('2021년 1월 성별연령별 소비 증가율 상위 업종 LIST.xlsx')
df2=pd.read_excel('2021년 2월 성별연령별 소비 증가율 상위 업종 LIST.xlsx')
df3=pd.read_excel('2021년 3월 성별연령별 소비 증가율 상위 업종 LIST_서울.xlsx')
df4=pd.read_excel('2021년 4월 성별연령별 소비 증가율 상위 업종 LIST_전국.xlsx')
df5=pd.read_excel('2021년 5월 성별연령별 소비 증가율 상위 업종 LIST_전국.xlsx')
df6=pd.read_excel('2021년 6월 성별연령별 소비 증가율 상위 업종 LIST_전국.xlsx')
df7=pd.read_excel('2021년 7월 성별연령별 소비 증가율 상위 업종 LIST_전국.xlsx')
df8=pd.read_excel('2021년 8월 성별연령별 소비 증가율 상위 업종 LIST_전국.xlsx')

In [15]:
df3

       기준년월  성별    연령대  이용 증가율 순위      업종   구분
0    202103  남성    20대          1     주차장  전년비
1    202103  남성    20대          2     백화점  전년비
2    202103  남성    20대          3     배달앱  전년비
3    202103  남성    20대          4      의류  전년비
4    202103  남성    20대          5    양방종합  전년비
..      ...  ..    ...        ...     ...  ...
195  202103  여성  60대이상          6     아울렛  전월비
196  202103  여성  60대이상          7     백화점  전월비
197  202103  여성  60대이상          8  문구사무용품  전월비
198  202103  여성  60대이상          9      식당  전월비
199  202103  여성  60대이상         10    인테리어  전월비

[200 rows x 6 columns]

In [16]:
data=pd.concat([df1,df2,df3,df4,df5,df6,df7,df8])

In [18]:
df1.shape,df2.shape,df3.shape,df4.shape,df5.shape,df6.shape,df7.shape,df8.shape

((200, 6),
 (200, 6),
 (200, 6),
 (200, 6),
 (200, 6),
 (200, 6),
 (200, 6),
 (200, 6))

In [22]:
data.shape

(1600, 6)

In [24]:
data.to_excel('1~8월 합친데이터.xlsx',index=False)